@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar bg-info">
            <div class="container-fluid justify-content-center gap-4">
                <a class="navbar-brand text-light" href="/Student/GetAll">GetAll</a>
                <a class="navbar-brand text-light" href="/Student/Delete">Delete</a>
                <a class="navbar-brand text-light" href="/Student/Create">Create</a>
                <a class="navbar-brand text-light" href="/Student/Update">Update</a>
            </div>
        </nav>

    </header>

    <main class="mt-3 p-3">
        <h2>Delete Student... </h2>
    </main>

    <footer class="mt-3 p-3 bg-dark text-light ">
        <div class="footer-content">
            <p>&copy; 2024 Student Project. All Rights Reserved.</p>
            <nav class="footer-nav">
                <a class="navbar-brand text-light" href="#">Home</a>
                <a class="navbar-brand text-light" href="#">About</a>
                <a class="navbar-brand text-light" href="#">Contact</a>
            </nav>
        </div>
    </footer>
</body>
</html>
